.button-container {
    display: flex;
    justify-content: flex-start;
    /* Tombol akan diatur di ujung kanan */
    gap: 20px;
    /* Jarak antara tombol-tombol */

}

.button {
    border: none;
    padding: 0;
    background: none;
}


.button i {
    color: blue;
}



body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Set tinggi minimum untuk body sebesar tinggi viewport */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    /* Menyesuaikan tinggi agar konten mengisi sisa ruang */
}

.footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
