{% extends "layout.html" %} {% block content %}
<style>
  .nav-item {
    display: none;
  }
</style>
<div class="container mt-5">
  <h2>Edit Profil</h2>

  <!--  pesan flash -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="alert-container">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <form
    method="POST"
    action="{{ url_for('edit_profile') }}"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <p>Nama :</p>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        value="{{ user['name'] }}"
        required
      />
    </div>
    <div class="form-group">
      <p>Email :</p>
      <input
        type="email"
        id="email"
        class="form-control"
        value="{{ user['email'] }}"
        disabled
      />
    </div>
    <div class="form-group">
      <p>Telepon :</p>
      <input
        type="text"
        name="phone"
        id="phone"
        class="form-control"
        value="{{ user['phone'] if user.get('phone') else '-' }}"
      />
    </div>

    <div class="form-group">
      <p>Alamat :</p>
      <input
        type="text"
        name="address"
        id="address"
        class="form-control"
        value="{{ user['address'] if user.get('address') else '-' }}"
      />
    </div>

    <div class="form-group">
      <p>Foto Profil :</p>
      {% if user.get('profile_picture') %}
      <img
        src="{{ url_for('static', filename='profile_pictures/' + user['profile_picture']) }}"
        alt="Foto Profil"
        class="img-thumbnail mb-3"
        width="150"
      />
      {% endif %}
      <input
        type="file"
        name="profile_picture"
        id="profile_picture"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Simpan Perubahan</button>
    <!-- <a href="{{ url_for('profile') }}" class="btn btn-secondary mt-3"
      >Kembali ke Profil</a
    > -->
  </form>
</div>
{% endblock %}
