{% extends 'layout.html' %} {% block title %} Lupa Passwords {% endblock %} {%
block content %}
<form
  method="POST"
  action="{{ url_for('forgot_password') }}"
  class="styled-form"
>
  <!-- pesan flash -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">{{message}}</div>
  {% endfor %} {% endif %} {% endwith %}
  <!-- end flash -->
  <h5 for="email">Masukkan Email Anda:</h5>
  <input type="email" name="email" id="email" required />
  <button type="submit">Kirim Link Reset Password</button>
</form>

<style>
  .nav-item {
    display: none;
  }
  .styled-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
  }

  .styled-form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }

  .styled-form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
  }

  .styled-form input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .styled-form button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
  }

  .styled-form button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
</style>

{% endblock %}
